{% extends "base.html" %}
{% load static %}

{% block title %}درباره{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="h3 mb-4 fw-bold">درباره من</h1>
            <p>
                سلام، من امیرحسین جاوید هستم. برنامه نویس بک‌اند و متخصص سئو. تخصص من در توسعه وب‌سایت‌ها با استفاده از
                فریم‌ورک جنگو است. جنگو به من این امکان رو می‌ده تا وب‌سایت‌های سریع، امن و مقیاش پذیر بسازم که به
                راحتی
                قابلیت ارتقا و بهبود دارن. چه برای ساخت سایت‌های ساده و چه پروژه‌های پیچیده‌تر، همیشه سعی می‌کنم که
                بهترین
                تجربه کاربری رو فراهم کنم و از جدیدترین تکنولوژی‌ها برای ساختن سایت‌هایی مطابق با نیاز مشتری استفاده
                کنم.
            </p>
            <p>
                همیشه ذهنم پر از ایده‌ها و راه حل‌های مختلف بوده و علاقه به ساختن چیزهای جدید و حل مشکلات، من رو به سمت برنامه نویسی
                کشوند. وقتی وارد دنیای کد نویسی شدم، متوجه شدم که با توانایی پیاده سازی ایده‌هام می‌تونم دنیای جدیدی
                بسازم.
            </p>
            <p>
                از اونجایی که همیشه به دنیای کسب و کار و بازاریابی هم علاقه داشتم، وارد حوزه سئو و بازاریابی دیجیتال شدم
                تا
                به کسب و کارها برای رشد و موفقیت بیشتر کمک کنم.
            </p>
            <p>
                هدفم اینه که با مذاکره و گفت و گوی درست با کارفرما متوجه نیازهای اصلی هر پروژه بشم و با توجه به اون،
                بهترین
                استراتژی‌ها رو پیاده کنم. برای من مهمه که به عنوان یک شریک تجاری، نه فقط یک برنامه نویس، در کنار مشتری
                باشم
                و او رو در مسیر رسیدن به اهدافش همراهی کنم.
            </p>
            <p>
                به دنبال کار روی پروژه‌های بزرگ و آینده دار، گسترش تیم خودم و انجام کارهایی هستم که در دنیای دیجیتال
                تأثیرگذار باشن.
            </p>
            <a href="#" class="btn btn-outline-primary me-2">دیدن نمونه کارها</a>
            <a href="{% url 'contact' %}" class="btn btn-outline-primary">تماس</a>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" loading="lazy" src="{% static 'images/coding-2-31.png' %}" alt="خدمات طراحی و توسعه سایت">
        </div>
    </div>
{% endblock %}