{% extends "base.html" %}
{% load static %}

{% block description %}
صفحه نمونه کارهای امیرحسین جاوید. پروژه‌های طراحی سایت و سئو به زودی در این صفحه بارگذاری خواهند شد.
{% endblock %}

{% block title %}نمونه کارها | به زودی{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="mb-4 fw-bold">نمونه کارها</h1>
    <p class="lead">
        این صفحه به زودی آپلود می‌شود.
    </p>
    <img class="img-fluid" loading="lazy" style="max-width: 250px;" src="{% static 'images/coding-4-21.png' %}" alt="نمونه کارهای امیرحسین جاوید">
</div>
{% endblock %}
